@font-face {
    font-family: 'apao-icon';
    src:
        url('fonts/apao-icon.ttf?em4ilm') format('truetype'),
        url('fonts/apao-icon.woff?em4ilm') format('woff'),
        url('fonts/apao-icon.svg?em4ilm#apao-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.apao-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'apao-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.apao-books:before {
    content: "\e900";
}
.apao-price-tag:before {
    content: "\e902";
}
.apao-user:before {
    content: "\e901";
}

